<%- include('user_header')%>

<section class="page-heading wow fadeIn" data-wow-duration="1.5s" style="background-image: url(files/images/01-heading.jpg)">
    <div class="container">
        <div class="page-name">
            <h1>Contact Us</h1>
            <span>Lovely layout of heading</span>
        </div>
    </div>
</section>

<section class="contact-map-wrapper">
    <div class="container">
        <div class="section-heading">
            <h2>Find Us On Map</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15281528.701485405!2d72.09779158982079!3d20.757198428364184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1701940597582!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="section-dec"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-map" style="height: 380px;"></div>
            </div>
        </div>
    </div>
</section>


<section class="contact-us">
    <div class="container">
        <div class="section-heading">
            <h2>Send Us A Message</h2>
            <div class="section-dec"></div>
        </div>
        <div class="send-message col-sm-12">
            <form id="contact_form" action="/addContact" method="POST">
                <div class=" col-md-4 col-sm-4 col-xs-6">
                    <input type="text" class="blog-search-field" name="name" placeholder="Your name..." value="">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <input type="text" class="blog-search-field" name="email" placeholder="Your email..." value="">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="subject" name="subject" placeholder="Subject..." value="">
                </div>
                <div class="col-md-12 col-sm-12">
                    <textarea id="message" class="input" name="message" placeholder="Message..."></textarea>
                </div>
                <div class="submit-coment col-md-12">
                        <button type="submit" class="btn btn-primary">Send Now</button>
                </div>
            </form>		
        </div>
    </div>
</section>



<%- include('user_footer')%>


